#it_gets_better {
	text-align: center;
	background-image: url('/House.png');
	background-repeat: round;
	padding-top: 30px;

	.igb-wrapper {
		display: flex;
		text-align: left;
		padding: 0px 45px;

	}
}
